<head>
    <style>
        * {
            margin: 0;
            color: #1f1f1f;
        }
        .center {
            text-align: center;
        }
        .receipt {
            width: 450px;
            background: #fff;
            margin: 0 auto;
            box-shadow: 5px 5px 19px #ccc;
            padding: 10px;
        }
        .logo {
            text-align: center;
            padding: 20px;
        }
        .address {
            text-align: center;
            margin-bottom: 10px;
        }
        .transactionDetails {
            display: flex;
            justify-content: space-between;
            margin: 0 10px 10px;
        }
        .transactionDetails .detail {
            text-transform: uppercase;
        }
        .centerItem {
            display: flex;
            justify-content: center;
            margin-bottom: 8px;
        }
        .survey {
            text-align: center;
            margin-bottom: 12px;
        }
        .survey .surveyID {
            font-size: 20px;
        }
        .paymentDetails {
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            width: 150px;
        }
        .creditDetails {
            margin: 10px auto;
            width: 230px;
            font-size: 14px;
            text-transform: uppercase;
        }
        .receiptBarcode {
            margin: 10px 0;
            text-align: center;
        }
        .returnPolicy {
            margin: 10px 20px;
            width: 220px;
            display: flex;
            justify-content: space-between;
        }
        .coupons {
            margin-top: 20px;
        }
        .tripSummary {
            margin: auto;
            width: 255px;
        }
        .tripSummary .item {
            display: flex;
            justify-content: space-between;
            margin: auto;
            width: 220px;
        }
        .feedback {
            margin: 20px auto;
        }
        .feedback h3.clickBait {
            font-size: 30px;
            font-weight: bold;
            text-align: center;
            margin: 10px 0;
        }
        .feedback h4.web {
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            margin: 10px 0;
        }
        .feedback .break {
            text-align: center;
            font-size: 18px;
            font-weight: bold;
            margin: 10px 0;
        }
    </style>
</head>
<div class="container">
    <div class="receipt">
        <h1 class="logo">Super-Mercado</h1>
        <div class="address">
            Conesa 2267, CABA
        </div>
        <div class="transactionDetails">
            <div class="detail">Reg#17</div>
            <div class="detail">TRN#1313</div>
            <div class="detail"> {{tickets.code}} </div>
        </div>
        <div class="transactionDetails">
            Compra usuario: {{tickets.purcharse}}
        </div>
        <div class="centerItem bold">
            <div class="item">ExtraCare Card #: *********1875</div>
        </div>
        {{#each tickets.products}}
        <div class="transactionDetails">
            <div class="detail">{{this.quantity}}</div>
            <div class="detail">{{this.product.title}}</div>
            <div class="detail">{{this.product.price}}$</div>
        </div>
        {{/each}}
        <div class="survey bold">
            <p>Usuario ID #</p>
            <p class="surveyID">{{tickets.userID}}</p>
        </div>
        <div class="paymentDetails bold">
            <div class="detail">TOTAL</div>
            <div class="detail">{{tickets.amount}}$</div>
        </div>
        <div class="paymentDetails">
            <div class="detail">CHARGE</div>
            <div class="detail">{{tickets.amount}}$</div>
        </div>
        <div class="paymentDetails">
            <div class="detail">************4023</div>
            <div class="detail">CH</div>
        </div>
        <div class="paymentDetails">
            <div class="detail">CHANGE</div>
            <div class="detail">0,00$</div>
        </div>
        <div class="returnPolicy">
            <div class="detail">{{tickets.purcharse_datetime}}</div>
        </div>
        <div class="tripSummary">
            <div class="bold">Trip Summary:</div>
            <div class="item">
                <div>Today You Saved:</div>
                <div>0,00$</div>
            </div>
            <div class="item">
                <div>Savings Value</div>
                <div>0%</div>
            </div>
        </div>
        <div class="feedback">
            <div class="break">
                *************************************
            </div>         
        </div>
    </div>
</div>